.login {
    margin-right: 30px;
}

.msg-input {
    margin-top: 2px;
}

.submit-btns {
    text-align: center;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

.little-padding {
  margin: 1rem;
}
