.storyName{
	margin: "auto";
}

.materialize-grey.mythos {
  background-color: #2f3848 !important;
}

.materialize-red.mythos {
  background-color: #f05768 !important;
}

.materialize-blue.mythos {
  background-color: #00c5b9 !important;
}

.materialize-blue.mythos-light {
  background-color: #2399d5 !important;
}


.materialize-blue.mythos-mid {
  background-color: #2194d0 !important;
}


.materialize-blue.mythos-dark {
  background-color: #3399cc !important;
}

.materialize-teal.mythos-bright {
  background-color: #53bbd6 !important;
}

.materialize-teal.mythos-dark {
  background-color: #3ca6c1 !important;
}

.materialize-paper.mythos-light {
  background-color: #ece7e0 !important;
}


.materialize-paper.mythos-dark {
  background-color: #d4ccbe !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
.nav{position: absolute; right: 0; bottom: 0; float: right;}