<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/mythos.css" type="text/css" rel="stylesheet"/>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="ionic-firebase-seed" ng-controller="AppCtrl" class="paper mythos-dark">

    <ion-pane>
      
<!--    <ion-nav-bar class="bar-positive">
              <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>-->
    <ion-header-bar class="bar-stable blue mythos-light" align-title="left">

  <h1 class="title">
    <div ng-hide="loggedInUser"><a id="logo-container" href="#/" class="brand-logo height"><img src="./img/logo-mythos-transparent-96x.png" width="36" height="36" alt=""/>ythos</a></div>
    <div ng-show="loggedInUser"><a id="logo-container" ng-click="myGoBack()" class="brand-logo height"><img src="./img/logo-mythos-transparent-96x.png" width="36" height="36" alt=""/>ythos</a></div>
  </h1>
  <!--<div>Logged in as <span id="email-header">{{loggedInUser.password.email}}</span></div>-->
  <button class="button blue" ng-click="logout()" ng-show="loggedInUser">Logout</button>
  </ion-header-bar>
    
      <ion-nav-view></ion-nav-view>
    </ion-pane>

  </body>
</html>
