<ion-header-bar class="bar-stable">
  <button class="button" ui-sref="main" >Back</button>
  <h1 class="title">
    <div ng-hide="loggedInUser">Mythos</div>
    <div ng-show="loggedInUser">Logged in as <span id="email-header">{{loggedInUser.password.email}}</span></div>
  </h1>
  <button class="button" ng-click="logout()" ng-show="loggedInUser">Logout</button>
</ion-header-bar>

<ion-view view-title="ImageSearch">
  <ion-content>

    <div class="list list-inset">
      <span class="item item-input">
        <i class="icon ion-search placeholder-icon" ></i>
        <input type="text" placeholder="Search" ng-model="search_query">
        <button type="button" ng-click="searchImage(search_query)">search</button>
      </span>
    </div>
    <div class="list" ng-repeat="thumbnail in imageResults">
      <a class="item item-thumbnail-left" href="#">
        <img ng-click="choosePhoto(thumbnail.MediaUrl)" src="{{thumbnail.MediaUrl}}" style="height: 75px; width: 75px;"></img>
        <!-- <h2>Pretty Hate Machine</h2> -->
        <!-- <p>Nine Inch Nails</p> -->
      </a>
    </div>
  </ion-content>
</ion-view>

<ion-footer-bar align-title="left" ng-show="loggedInUser">
  <!-- <a ui-sref="new_option({story_id: id})">Add option</a> -->
</ion-footer-bar>