<ion-header-bar class="bar-stable">
  <h1 class="title">
    <div ng-hide="loggedInUser">Mythos</div>
    <div ng-show="loggedInUser">Logged in as <span id="email-header">{{loggedInUser.password.email}}</span></div>
  </h1>
  <button class="button" ng-click="logout()" ng-show="loggedInUser">Logout</button>
</ion-header-bar>

<ion-view view-title="StoryTemplate">
  <ion-content id="app-content">
    <div class="list" ng-hide="loggedInUser">

      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>

      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.pass">
      </label>
      <br/>
      <div class="submit-btns">
        <button class="button button-positive login" ng-click="login(user)">
          Login
        </button>
        <button class="button button-positive signup" ng-click="createUser(user)">
          Sign Up
        </button>
      </div>
    </div>
    <div ng-show="loggedInUser" id="message-list">
      <div class="list card" ng-repeat="(key, story) in stories">
        <div class="item">
          <h2><a ui-sref="stories({story_id: key})">{{story.title}}</a></h2>
          <p>{{story.body_text}}</p>
          <img src="{{stories.img_url}}"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

<ion-footer-bar align-title="left" ng-show="loggedInUser">
  <!-- <label class="title">
    <input type="text" placeholder="Message" ng-model="message.text" class="msg-input">
  </label>
  <button type="submit" class="button button-small" ng-click="addMessage(message)" id="add-message">
    Add
  </button> -->
</ion-footer-bar>