<ion-header-bar class="bar-stable">
  <button class="button" ui-sref="main" >back to story</button>
  <h1 class="title">
    <div ng-hide="loggedInUser">Mythos</div>
    <div ng-show="loggedInUser">Logged in as <span id="email-header">{{loggedInUser.password.email}}</span></div>
  </h1>
  <button class="button" ng-click="logout()" ng-show="loggedInUser">Logout</button>
</ion-header-bar>

<ion-view view-title="OptionTemplate">
  <ion-content>
    <!-- <h2>{{option.title}}</h2>
    <p>{{option.body_text}}</p>
    <img src='{{option.img_url}}'/>
    <div class="list card" ng-repeat="choice in option.options">
      <div class="item">
        <a ui-sref="stories({store_id: story.id, option_id: choice.id})">{{choice.choice_text}}</a >
        <div>{{choice.img_url}}</div>
      </div>
    </div> -->
    <h2> new option</h2>
    <form>
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text"  ng-model="title" class="msg-input">
      </label>
      <label class="item item-input">
        <span class="input-label">Text</span>
        <input type="text" ng-model="body_text" class="msg-input">
      </label>
      <label class="item item-input">
        <span class="input-label">Image URL</span>
        <input type="text" ng-model="img_url" class="msg-input">
        <img src="{{img_url}}"/>
      </label>
      <a ui-sref="image_search" id="add-message">Use Search Engine</a>
      <label class="item item-input">
        <span class="input-label">Choice Text</span>
        <input type="text"  ng-model="choice_text" class="msg-input">
      </label>
      <button type="submit" class="button button-small" ng-click="addOption(new_option)" id="add-message">
        Add Option
      </button>
    </form>
  </ion-content>
</ion-view>

<ion-footer-bar align-title="left" ng-show="loggedInUser">
  
</ion-footer-bar>