<ion-header-bar class="bar-stable">
  <button class="button" ui-sref="main" >Back to Stories</button>
  <h1 class="title">
    <div ng-hide="loggedInUser">Mythos</div>
    <div ng-show="loggedInUser">Logged in as <span id="email-header">{{loggedInUser.password.email}}</span></div>
  </h1>
  <button class="button" ng-click="myGoBack()" ng-show="loggedInUser">Logout</button>
</ion-header-bar>

<ion-view view-title="OptionTemplate">
  <ion-content>
    <h3 class='little-padding'>{{option.title}}</h3>
    <p class='little-padding'>{{option.body_text}}</p>
    <img class='centered-image' src='{{option.img_url}}'/>
    <div class="list card" ng-repeat="choice in option.mappedOptions">
      <div class="item">
        <a ui-sref="option({story_id: story_id, option_id: choice.$id})">{{choice.choice_text}}</a >
      </div>
    </div>
  </ion-content>
</ion-view>

<ion-footer-bar align-title="left" ng-show="loggedInUser">
  <a ui-sref="new_option({option_id: id})">Add option</a>
</ion-footer-bar>
