<ion-header-bar class="bar-stable">
  <button class="button" ng-click="myGoBack()" >Back</button>
  <h1 class="title">
    <div ng-hide="loggedInUser">Mythos</div>
    <div ng-show="loggedInUser">Logged in as <span id="email-header">{{loggedInUser.password.email}}</span></div>
  </h1>
  <button class="button" ng-click="logout()" ng-show="loggedInUser">Logout</button>
</ion-header-bar>

<ion-view view-title="StoryTemplate">
  <ion-content>
    <h3 class='little-padding'>{{story.title}}</h3>
    <p class='little-padding'>{{story.body_text}}</p>
    <img class='centered-image' src='{{story.img_url}}'/>
    <div class="list card" ng-repeat="option in story.mappedOptions">
      <div class="item">
        <a ui-sref="option({story_id: id, option_id: option.$id})">{{option.choice_text}}</a >
      </div>
    </div>
  </ion-content>
</ion-view>

<ion-footer-bar align-title="left" ng-show="loggedInUser">
  <a ui-sref="new_option({story_id: id})">Add option</a>
</ion-footer-bar>
